{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: monospace;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
 /* navbar start */
 .navbar {
    display: flex;
    align-items:center;
    height: 70px;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(181, 173, 157);
    color: rgb(0, 0, 0);
   }
   .menu {
   align-items:center;
   }
   .menu li{ /*added*/
    display:flex;
    margin-right: 100px;
    justify-content:space-evenly;
    text-align:center;
    font-size:x-large;
   }
   .nav-links a {
    color: rgb(0, 0, 0);
    font-weight: 700;
   }
    .menu {
    display: flex;
    gap: 1em;
    font-size: xx-large;
   }
   .menu li:hover {
    background-color: rgb(255, 237, 220);
    border-radius: 5px;
    display: block;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 10px;
    list-style: none;/*change*/
   }
   .menu li a{ /*change*/
    text-decoration:none;
   }
     /* dropdown menu start */
   .services {
    position:relative;
    }
    .dropdown {
    background-color: rgb(181, 173, 157);
    margin-top: 10px;
    position: absolute; /*WITH RESPECT TO PARENT*/
    border-radius: 8px;
    font-size: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    width: 150%;
    display: none;/*change*/
    margin-left:-10px;/*change*/
    list-style: none;/*change*/
    text-align: center;
   }
   .fa-fa-caret-down{
    display:inline;
   }
   .dropdown li {
    margin-top: 0px;
    width:min-content;
    text-align: center;
    width:100%;
    margin-left: -30px;/*change*/
    font-size:medium;
   }
   .dropdown li a{
    text-decoration: none;
   }
   .dropdown li:hover {
    background-color: rgb(255, 237, 220);
   }
   .services:hover .dropdown {
    display: block;
   }
/* dropdown menu
/*contact form*/
:root {
    --color-white: #F3F3F3;
    --color-darkblue: #1B1B32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: hsl(0, 0%, 21%);
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    margin: 0;
  }
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--black--);
    background-image: linear-gradient(
        115deg,
        rgba(22, 26, 3, 0.8),
        rgba(112, 222, 215, 0.7)
      ),
      url(https://media.istockphoto.com/photos/watercolor-textured-background-picture-id887755698?b=1&k=20&m=887755698&s=170667a&w=0&h=jrbe1wDwk2D9FW1G_EqdyrCIsr7KJeEU-gEGmskiLLM=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h1 {
    font-weight: 400;
    line-height: 1.2;
  }
  p {
    font-size: 1.125rem;
  }
  h1,
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
  }
  input,
  button,
  select,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button {
    border: none;
  }
  .container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  .header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
  .description {
    font-style: italic;
    font-weight: 400;
  }
  .clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: black;
  }
  .text-center {
    text-align: center;
  }
  /* form */
  form {
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
  }
  @media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #CED4DA;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .form-control:focus {
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .input-radio,
  .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  }
  .input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
  }
  .submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: rgb(181, 173, 157);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }
/*footer start*/
.footer{
    display: flex;
    position:relative;
    align-items:center;
    justify-content: space-evenly;
    padding: 10px;
    height:auto;
    background-color: rgb(181, 173, 157);
    color: rgb(0, 0, 0);
    height: 4.5rem;
    width:100%;
}
  .footer a {
    margin-top: auto 0;
    text-decoration: none;
    size:100rem;
  }
/*footer end*/